body{
    background-color: rgb(215, 241, 241);
    color: rgb(87, 85, 88)40);
    margin: 5px;
    padding: 2px;
}
header,
footer {
    text-align: center;
    background-color: rgb(167, 247, 247);
}