body{
    background-color: rgb(232, 250, 250);
    color: rgb(99, 77, 245); 
    margin: 5px;
    padding: 2px;
}
header,
footer {
    text-align: right;
    background-color: rgb(219, 213, 213);
    }
    h2,h3,h4 {
        color: rgb(131, 129, 228);
        text-decoration-line: underline;
    }